@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@import url('reset.css');

:root {
  --color-slate-1: #f8f9fa;
  --color-slate-2: #f1f3f5;
  --color-slate-3: #e9ecef;
  --color-slate-4: #dee2e6;
  --color-slate-5: #ced4da;
  --color-slate-6: #adb5bd;
  --color-slate-7: #868e96;
  --color-slate-8: #495057;
  --color-slate-9: #343a40;
  --color-slate-10: #212529;
  --color-slate-11: #141518;
  --color-slate-12: #0d0e10;
  --color-blue-1: #f3f9ff;
  --color-blue-2: #e0f1ff;
  --color-blue-3: #c5e4ff;
  --color-blue-4: #a3d5ff;
  --color-blue-5: #7dc5ff;
  --color-blue-6: #52b5ff;
  --color-blue-7: #24a1ff;
  --color-blue-8: #008bff;
  --color-blue-9: #0077f0;
  --color-blue-10: #006adc;
  --color-blue-11: #0059c2;
  --color-blue-12: #003171;
  --color-red-1: #fff5f5;
  --color-red-2: #ffe9e9;
  --color-red-3: #ffd7d7;
  --color-red-4: #ffc2c2;
  --color-red-5: #ffa8a8;
  --color-red-6: #ff8a8a;
  --color-red-7: #f76a6a;
  --color-red-8: #e5484d;
  --color-red-9: #d7373f;
  --color-red-10: #c52a33;
  --color-red-11: #a12029;
  --color-red-12: #5f1217;
  --color-white: #fff;
  --color-black: #000;
  --fg-base: var(--color-slate-12);
  --fg-subtle: var(--color-slate-8);
  --bg-base: var(--color-white);
  --bg-alt: var(--color-slate-1);
  --primary: var(--color-blue-9);
  --primary-fg: #fff;
  --border-base: var(--color-slate-5);
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --line-height-tight: 1.2; /* Large titles */
  --line-height-snug: 1.3; /* Medium titles */
  --line-height-normal: 1.5; /* Base texts - WCAG AA */
  --line-height-relaxed: 1.6; /* Long texts */
  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.025em;
  --letter-spacing-wider: 0.05em;
  --space-0: 0rem;
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-7: 1.75rem; /* 28px */
  --space-8: 2rem; /* 32px */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.75rem; /* 12px */
  --radius-xl: 1rem; /* 16px */
  --radius-full: 9999px;
  --button-primary-bg: var(--primary);
  --button-primary-fg: var(--primary-fg);
  --button-primary-bg-hover: var(--color-blue-10);
  --button-primary-bg-active: var(--color-blue-11);
  --button-primary-bg-disabled: var(--color-slate-2);
  --button-primary-fg-disabled: var(--color-slate-7);
}
