*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

body {
  background-color: var(--bg-base);

  color: var(--fg-base);
  font-family:
    'Instrument Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);

  text-rendering: optimizelegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p,
span,
div,
section,
article,
aside,
header,
footer,
nav,
main {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

a {
  background-color: transparent;

  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  outline: 0;
}

input,
textarea,
select,
button {
  background: transparent;
  border: none;

  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  appearance: none;
  outline: none;
}

button {
  padding: 0;

  background: none;
  border: none;

  cursor: pointer;
}

input[type='search'] {
  appearance: textfield;
  outline-offset: -2px;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  appearance: none;
}

img,
video,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  border-style: none;
}

svg {
  display: block;
  fill: currentcolor;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

[hidden] {
  display: none !important;
}
